.nav {
    background-color: $grey-dark;
    color: #fff;

    .active {
        font-weight: bold;
    }


    ul {  // foundation overrides
        background-color: $grey-dark;
        .menu-text a {
            display: inline;
            padding: 0;
        }
    }

}
